.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 1);
	border-right: 1px solid rgba(0, 0, 0, 1);
	transform: translateX(-616px); /* Скрытое положение */
	transition: transform 0.5s ease;
}

.container_open {
	cursor: pointer;
	transform: translateX(0); /* Выезжающий блок */
}

.closeButton {
	position: absolute;
	cursor: pointer;
}

.arrow {
	width: 48px;
	height: 48px;
	transition: transform 0.5s ease;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: calc(100% - 17px);
	height: 100%;
	padding: 50px;


}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
